* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  user-select: none;
}

header {
  font-size: 50px;
  width: 620px;
  margin: 0 auto;
  height: 50px;
  padding: 10px 0;
}

.title {
  float: left;
}

#grid {
  width: 460px;
  height: 460px;
  margin: 0 auto;
  background: black;
  position: relative;
}

/*
parent: flexbox itself
items inside: flex items
*/

.slots {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slot {
  width: 150px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: white;
  line-height: 1;
  /*line-height is % of font size*/
  font-size: 100px;
}

.slot p {
  font-size: 60px;
  padding-top: 45px;
  font-family: 'Sue Ellen Francisco', cursive;
}

.slot:nth-child(3n) {
  margin-right: 0;
}

#playButton {
  display: inline-block;
  border: none;
  background-color: #fff;
  font-size: 40px;
  border-radius: 6px;
  font-family: 'Sue Ellen Francisco', cursive;
}
