* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  user-select: none;
}

header {
  font-size: 50px;
  width: 620px;
  margin: 0 auto;
  height: 50px;
  padding: 10px 0;
}

.title {
  float: left;
}

#grid {
  width: 460px;
  height: 460px;
  margin: 0 auto;
  background: black;
  position: relative;
}

/*
parent: flexbox itself
items inside: flex items
*/

.cells {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.cell {
  width: 150px;
  height: 150px;
  padding-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: white;
  line-height: 1;
  /*line-height is % of font size*/
  font-size: 100px;
  font-family: 'Indie Flower', cursive;
}

.cell p {
  font-size: 60px;
  padding-top: 45px;
  font-family: 'Sue Ellen Francisco', cursive;
}

.cell:nth-child(3n) {
  margin-right: 0;
}

#startButton {
  display: block;
  border: none;
  background-color: #fff;
  font-size: 40px;
  border-radius: 6px;
  margin: auto;
  font-family: 'Sue Ellen Francisco', cursive;
  padding-bottom: 0.75em;
  outline: none;
}

.hidden {
  visibility: hidden
}

.outcomeText {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 35px;
  padding-top: 0.75em;
}

form {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 20px;
  display: inline-block;
  margin: 15px;
  padding-top: 6px;
  padding-bottom: 10px;
  position: relative;
  height: 3em;
}

input[type=submit] {
  background-color: #f7e3f3;
  border: none;
  padding: 7px;
}

input {
  padding: 7px;
}
